click==8.3.0
sqlalchemy==2.0.25
psycopg2-binary==2.9.11
pgvector==0.2.5
minio==7.2.5
python-docx==1.1.0
openai==1.12.0
requests==2.31.0
langchain-text-splitters==0.3.11
numpy==2.4.4
python-dotenv==1.0.1
